/* Importando uma fonte personalizada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilização geral */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main-content {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h3,
.content p {
    margin: 0;
}

input {
    width: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

/* Estilização do input de prioridade */
.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #333;
    width: 10px;
    height: 10px;
    margin: 0;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

#low:checked {
    border: 2px solid rgb(0, 108, 0);
    background-color: #2ecc71;
}

#low:hover {
    background-color: rgba(0, 128, 0, 0.5);
}

#medium:checked {
    border: 2px solid rgb(150, 150, 0);
    background-color: yellow;
}

#medium:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

#high:checked {
    border: 2px solid rgb(150, 0, 0);
    background-color: #e74c3c;
}

#high:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

h1 {
    margin: 0;
}

/* Estilização do formulário */
.form-list {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 90%;
    margin-bottom: 15px;
}

label {
    margin-bottom: 10px;
    font-weight: 600;
}

#task-form {
    margin-top: 0;
}

.task-button {
    display: inline-block;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ease;
}

.task-button:hover {
    background-color: #555;
}

/* Tarefas e cards */
.div-tasks {
    width: auto;
}

#task-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-card {
    background: #fff;
    border-left: 5px solid #ccc; /* Borda padrão */
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease;
}

.task-card h3 {
    margin: 0 0 5px 0;
}

.task-card p {
    margin: 2px 0;
    font-size: 0.9em;
    color: #666;
}

/* Cores de prioridade no card */
.priority-high {
    border-left-color: #e74c3c;
}

.priority-medium {
    border-left-color: rgb(235, 235, 0);
}

.priority-low {
    border-left-color: #2ecc71;
}

/* Estilização da tarefa concluíd */
.task-card.completed {
    opacity: 0.5;
}

.task-card.completed h3 {
    text-decoration: line-through;
}

/* Estilização dos botões do card */
.task-actions button {
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.complete-btn {
    background-color: #27ae60;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

.complete-btn:hover {
    background-color: #229954;
}

.delete-btn {
    background-color: #c0392b;
    font-family: 'Poppins';
}

.delete-btn:hover {
    background-color: #a93226;
}

/* Estilização para dark mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .form-list {
    background-color: #444;
    border: 1px solid #555;
}

body.dark-mode .form-list button {
    color: #333;
    background-color: #fff;
}

body.dark-mode .form-list button:hover {
    background-color: #ddd;
}

body.dark-mode .task-card {
    background-color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    color: #fff;
}

body.dark-mode .task-info p {
    color: #fff;
}

/* Botão de dark mode */
.switch-button {
    font-size: 30px;
    border: none;
    background-color: #f4f4f9;
    cursor: pointer;
    margin-top: 20px;
}

body.dark-mode .switch-button {
    color: #f4f4f9;
    background-color: #333;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    box-sizing: border-box;
}